<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freelance.solutionhub.mma">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:name="android.hardware.nfc"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.TelcoActivity" />
        <activity android:name=".activity.OtherActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.PMCompletionActivity" />
        <activity android:name=".activity.CMCompletionActivity" />
        <activity android:name=".activity.AssetInformationActivity" />
        <activity android:name=".activity.CMActivity" />
        <activity android:name=".activity.PMActivity" />
        <activity android:name=".activity.LoadingActivity" />
        <activity android:name=".activity.NFCReadingActivity" />
        <activity android:name=".activity.LoginActivity" >

        </activity>
        <activity android:name=".activity.MainActivity">

        </activity>
        <activity android:name=".activity.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>